.fill-scr {
  height: calc(100vh - 4rem);
}
.fill-overlay {
  height: calc(100vh - 3.5rem);
}
body {
  background-color: #eff1f3;
  box-sizing: border-box;
}

.blur-c {
  filter: blur(4px);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9da3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

.bg-img {
  background-image: url("./assets/topcom.png");
}
